<h2>{{song.title}}</h2>
<p>Artist: {{song.artist}}</p>
<p>Player: {{song.player}}</p>

{{#if isPathShowing}}
	<p>Path: {{song.path}} <button {{action "pathHide" }}>Hide path info</button></p>
{{else}}
	<button {{action "pathShow"}}>Show path info</button>
{{/if}}