<p>I hope this thing can do awesome things with music APIs, from Soundcloud, from Youtube, 
from Dailymotion, ... where else?</p>

{{#each model as |songUnit|}}
	{{song-list song=songUnit}}
{{/each}}

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}